.col-d-3.p-l-0
  .form-group
    = f.label t('suggestions.label.consumer_type'), class: 'active'
    = f.text_field :property_category_name, value: property.property_sub_category.property_category.name, readonly: true, placeholder: t('suggestions.placeholder.residential'), id: 'property_category', class: 'form-control'
    = f.hidden_field :property_id, value: property.id
.col-d-3
  .form-group
    = f.label t('suggestions.label.housing_type'), class: 'active'
    = f.text_field :property_sub_category_name, value: property.property_sub_category.name, readonly: true, placeholder: t('suggestions.placeholder.hdb2_room'), id: 'property_sub_category', class: 'form-control'
.col-d-3
  .form-group
    = f.label t('suggestions.label.average_monthly_consumption'), class: 'active'
    = f.text_field :average_monthly_consumption, value: property.avg_monthly_electricity_consumption, readonly: true, placeholder: t('suggestions.placeholder.consumption_value'), id: 'average_monthly_consumption', class: 'form-control'
.pull-left
  .form-group.more-details-f
    = link_to t('suggestions.more_detail_btn'), property_path(property), class: 'btn btn-primary more-detail'
.col-12.pad-none
  %h4= t('suggestions.label.preferences')
  .row.img-thumbnail.prefrence-block
    .col-6.form-group.select-field
      = f.label t('suggestions.table.heading.plan_type'), class: 'active'
      = f.select :plan_type, Constant::PLAN_TYPES.map { |plan_type| plan_type }, { prompt: t('suggestions.please_select_plan_type'), value: 0 }, id: 'plan_type', class: 'form-control'
    .col-6.form-group.select-field
      = f.label t('suggestions.table.heading.retailer'), class: 'active'
      = f.select :electricity_supplier_id, (electricity_suppliers), { prompt: t('suggestions.please_select_retailer') }, id: 'electricity_supplier', class: 'form-control'

.col-md-12.switch-field
  .btnContainer
    .btn.active{ 'data-rel': 'list' }
      = image_tag asset_pack_path('packs/images/list.png'), class: 'img-responsive'
      = t('suggestions.label.list')
    .btn{ 'data-rel': 'grid' }
      = image_tag asset_pack_path('packs/images/grid.png'), class: 'img-responsive'
      = t('suggestions.label.grid')