%thead
  %tr
    %th
      = t('modals.equipment_appliance')
    %th
      = t('modals.type_of_model')
    %th
      = t('modals.star_rating')
    / %th
    /   = t('modals.quantity')
    /   *
    %th
      = t('modals.rated_kw')
    %th
      = t('energy_data.installed_system_heading.year_of_purchase').html_safe
      *
    %th
      = t('energy_data.installed_system_heading.consumption_kwh').html_safe    
    %th
      = t('modals.location')
      *
    %th  