#change_password_modal.modal.renewable-energy-modal.fades.change_password_modal{"aria-hidden" => "true", "aria-labelledby" => "modalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header.text-center
        %h4#modalLabel.modal-title.text-center
          = t('modals.change_password')
      = form_for @user, url: user_password_path(@user), html: { id: 'change_password_form' } do |f|
        .modal-body
          .form-group.col-12
            %label
              = t('devise.input.old_password')
              *
            = f.password_field :current_password, class: 'form-control'
          .form-group.col-12
            %label
              = t('devise.input.new_password')
              *
            = f.password_field :password, class: 'form-control'
          .form-group.col-12
            %label
              = t('devise.input.confirm_new_password')
              *
            = f.password_field :password_confirmation, class: 'form-control'
        .authnbtn-f
          %button.btn.btn-primary.float-right{type: "submit"}
            = t('button.update')
          %button.btn.btn-primary.float-right{type: "submit", 'data-dismiss' => "modal"}
            = t('button.cancel')
= javascript_pack_tag 'javascripts/validations/change_password'