%h4.line-height-80
  = t('energy_checklist.equipment_maintenances')
  .add-details.pull-right
    %a.btn.icon-btn.btn-success{"data-target" => "#other_consumption_modal", "data-toggle" => "modal", href: "javascript:void(0)"}
      %span.glyphicon.btn-glyphicon.glyphicon-plus.img-circle.text-success
        = image_tag asset_pack_path('packs/images/plus-icon.png')
      = t('button.add_details')
.switch-field
  .btnContainer
    .btn.maintenance-equipment-view{ 'data-rel': 'list' }
      = image_tag asset_pack_path('packs/images/list.png'), class: 'img-responsive'
      = t('suggestions.label.list')
    .btn.active.maintenance-equipment-view{ 'data-rel': 'grid' }
      = image_tag asset_pack_path('packs/images/grid.png'), class: 'img-responsive'
      = t('suggestions.label.grid')