.container-fluid
  %br
  %h5= title
  %br
  .row
    - plans.each do |plan|
      .col-sm-4
        .card
          .card-body
            %h5.card-title.text-center= image_tag plan.electricity_supplier.logo
            %p.card-text.text-center= plan.electricity_supplier.name
            %h3.text-center= plan.peak_price
            %p.text-sm-center cents/kWh peak
            %h3.text-center= plan.peak_off_price
            %p.text-sm-center cents/kWh offpeak
