#other_consumption_modal.modal.other-consumption-modal.fades{"aria-hidden" => "true", "aria-labelledby" => "modalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header.text-center
        %h4#modalLabel.modal-title
          = t('modals.others_consumption')
      = form_tag '#', id: 'other_equipments_form' do
        .modal-body
          .form-group.col-12
            %label
              = t('modals.equipment_appliance')
              *
            = select_tag 'appliance_name', options_for_select(@property.present? ? @property.electricity_consumption_equipments.pluck(:name) : []), {class: 'form-control other_appliance', include_blank: true}
          .form-group.col-12
            = text_field_tag 'other_appliance_name', nil, class: 'form-control display-none', placeholder: t('modals.enter_appliance_name')
          .form-group.col-12
            %label{class: 'width-100p'}
              = t('modals.last_upgraded')
            = select_tag 'last_upgraded_year', options_for_select(2000.. Date.today.year, Date.today.year - 1), class: 'form-control width-48p pull-left margin-right-10'  
            = select_tag 'last_upgraded_month', options_for_select(Constant::MONTHS), class: 'form-control width-50p'            
          .form-group.col-12.frequency-details
            %label
              = t('modals.frequency')
              *
            = text_field_tag 'frequency_upgrade', nil, class: 'form-control', placeholder: t('modals.frequency')
        .authnbtn-f
          %button.btn.btn-primary.float-right.save_other_consumption#save_other_consumption{type: "submit"}
            = t('button.save_next')
          %button.btn.btn-primary.float-right#save_and_close_other_consumption{type: "submit"}
            = t('button.save_close')
          %button.btn.btn-primary.float-right{type: "submit", 'data-dismiss' => "modal"}
            = t('button.cancel')

= javascript_pack_tag 'javascripts/bootstrap/datepicker'