!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title= t('title')
    = csrf_meta_tags
    = stylesheet_pack_tag 'styles/audit', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'javascripts/manifest', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %header
      .logo
        = link_to image_tag(asset_pack_path('packs/images/gaed-logo.svg'), class: 'img-responsive'), root_path
    = yield